/AmstrongNumber.class
/FibonacciSeries.class
/LeapYear.class
/NeonNumber.class
/PallandromNumber.class
/PerfectNumber.class
/PowerofNumber.class
/PrimeNumber.class
/ReverseTheNumber.class
/SpyNumber.class
/StrongNumber.class
/SwapNumberWithContainer.class
/SwapNumberWithoudContainer.class
/oj.class
/strongNumberss.class
